<h1 class="h5 mb-3 font-weight-normal">Hello {{($user | async)?.name}}</h1>
<form *ngIf="($user | async).unauthorized" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin">
    <input
        type="text"
        placeholder="Login"
        class="form-control"
        formControlName="login"
        [class.is-valid]="loginForm.get('login')?.valid && (loginForm.get('login')?.dirty || loginForm.get('login')?.touched)"
        [class.is-invalid]="loginForm.get('login')?.invalid && (loginForm.get('login')?.dirty || loginForm.get('login')?.touched)"
    />
    <div class="text-danger" *ngIf="loginForm.get('login')?.invalid &&
    (loginForm.get('login')?.dirty || loginForm.get('login')?.touched) &&
    loginForm.get('login')?.hasError('required')">
        This field is required
    </div>
    <input
        type="password"
        placeholder="Password"
        class="form-control"
        formControlName="password"
        [class.is-valid]="loginForm.get('password')?.valid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
        [class.is-invalid]="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
    />
    <div class="text-danger" *ngIf="loginForm.get('password')?.invalid &&
    (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) &&
    loginForm.get('password')?.hasError('required')">
        This field is required
    </div>
    <input type="submit" value="Sign in" [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block"/>
</form>
<div class="text-danger" *ngIf="loginForm.hasError('unauthorized')">Login and/or password incorrect</div>
