<p>Hello {{user?.name}}</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
  <label>login: <input type="text" formControlName="login" /></label>
  <label>password: <input type="password" formControlName="password" /></label>
  <input type="submit" value="login" />
</form>
<button *ngIf="!!user" (click)="invalidateAuthToken()">invalidate authorization token</button>
<button *ngIf="user?.privileges.includes('see_secret')" (click)="showSecret()">show me secret data</button>
<p>The secret is... {{(secretInfo | async)?.data}}</p>