<app-login></app-login>
 
<div *ngIf="($user | async).privileges?.includes('see_secret')">
 <button (click)="showSecret()" class="btn btn-lg btn-primary btn-block">show me the secret</button>
 <h1 class="h3 mb-3 font-weight-normal">The secret is... {{($secretInfo | async)?.data}}</h1>
</div>
 
<div *ngIf="($user | async).unauthorized">
 <h1 class="h3 mb-3 font-weight-normal">Log in to find out the secret.</h1>
</div>
 
<div *ngIf="!($user | async).unauthorized && !($user | async).privileges?.includes('see_secret')">
 <h1 class="h3 mb-3 font-weight-normal">You're not allowed to know the secret :(</h1>
</div>
